<div *ngIf="eleve" class="row">
<div class="col s12 m8 offset-m2">
<h2 class="header center">{{ eleve.prenom }}</h2>
<div class="card horizontal hoverable">
  <div class="card-image">
    <img [src]="eleve.picture">
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <table class="bordered striped">
        <tbody>
          <tr>
            <td>Nom</td>
            <td><strong>{{ eleve.nom }}</strong></td>
          </tr>
          <tr>
            <td>Prenom</td>
            <td><strong>{{ eleve.prenom }}</strong></td>
          </tr>
          <tr>
            <td>Age</td>
            <td><strong>{{ eleve.age }}</strong></td>
          </tr>
          <tr>
            <td>Notes</td>
            <td>
              <span *ngFor="let note of eleve.notes">{{ note + ", " }}</span>
            </td>
          </tr>
          <tr>
            <td>Date de création</td>
            <td><em>{{ eleve.created | date:"dd/MM/yyyy" }}</em></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-action">
      <a (click)="goBack()"><span class="red-text text-darken-2">Retour</span></a>
      <a (click)="goEdit(eleve)"><span class="red-text text-darken-2">Editer</span></a>
    </div>
  </div>
</div>
</div>
</div>
<h4 *ngIf='!eleve' class="center">Aucun élève à afficher !</h4>
