<h1 class='center'>{{title}}</h1>
<div class='container'>
<div class="row">

  <eleve-search></eleve-search>

  <div *ngFor='let eleve of eleves' class="col s6 m4">
    <div class="card horizontal" (click)="selectEleve(eleve)" eleveBorderCard>
      <div class="card-image">
        <img [src]="eleve.picture" width="150" height="150">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p class='center'><b>{{ eleve.prenom }}</b></p>
          <p class='center'><small> Créé le : {{ eleve.created | date:"dd/MM/yyyy" }}</small></p>
          <!--<div class="center" id="buttonCheck">
            <a class="waves-effect waves-light btn">Voir</a>
          </div>-->
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
